.vagrant
.idea
sftp-config.json
*.sublime-project
*.sublime-workspace
/nbproject/private/
/.buildpath
/.project
/.settings
/certificados/
/web/media/cache/
web/media/cache/*
.nbproject
nbproject/*
.DS_Store
.phpintel
.phpintel/*
.DS_Store
bower_components
bower_components/*
composer.lock
vendor/bin
vendor/*
cache.properties
.sass-cache/
*.tar.gz
node_modules/*
composer.phar
npm-debug.log
*.db
